<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../include/adminBase.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .product-name {
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #order-details {
            display: none;
            padding: 20px;
            border: 1px solid #ddd;
            margin-top: 20px;
        }
        .action-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .status-select {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Recent Orders</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <% if (orders && orders.length > 0) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Order ID</th>
                                <th>Status</th>
                                <th>Return</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                                <% order.products.forEach(product => { %>
                                    <tr>
                                        <td>
                                            <img src="/images/<%= product.pImages %>" alt="<%= product.pName %>" width="50">
                                            <p class="product-name"><%= product.pName %></p>
                                        </td>
                                        <td><%= order._id %></td>
                                        <td>
                                            <% if (product.status === 'Pending') { %>
                                                <span class="status pending">Pending</span>
                                            <% } else if (product.status === 'Shipped') { %>
                                                <span class="status process">Shipped</span>
                                            <% } else if (product.status === 'Delivered') { %>
                                                <span class="status completed">Delivered</span>
                                            <% } else if (product.status === 'Cancelled') { %>
                                                <span class="status cancelled" style="background-color: rgb(215, 1, 1);">Cancelled</span>
                                            <% } %>
                                        </td>
                                        <td>
                                            <% if (product.return === 'Pending') { %>
                                                <span class="status pending">Pending</span>
                                            <% } else if (product.return === 'Returned') { %>
                                                <span class="status returned" style="background-color: rgb(215, 1, 1);">Returned</span>
                                            <% } %>
                                        </td>
                                        <td class="action-section">
                                            <!-- Change Order button -->
                                            <select class="form-select status-select" data-product-id="<%= product.productId._id %>" data-order-id="<%= order._id %>" data-user-id="<%= order.user._id %>">
                                                <option value="<%= product.status %>"><%= product.status %></option>
                                                <option value="Pending" <%= product.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                                                <option value="Shipped" <%= product.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                                <option value="Delivered" <%= product.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                              
                                                <option value="Returned" <%= product.return === 'Returned' ? 'selected' : '' %>>Returned</option>
                                            </select>
                                            <!-- Details button -->
                                            <button class="btn btn-info mb-2 details-btn" onclick="redirectToDetails('<%= product.productId._id %>','<%= order._id %>','<%= order.user._id %>')">Details</button>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% }) %>
                        </tbody>
                    </table>   
                    <% } else { %>
                        <div>
                            <p>There are no Orders</p>
                        </div>
                    <% } %>
                </div> 
            </div>
            <!-- Pagination Controls -->
            <% if(totalPages > 0) { %>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- Previous Page Button -->
                    <% if (page > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin-Orders?page=<%= page - 1 %>&limit=<%= limit %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    <% } else { %>
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&laquo;</span>
                        </li>
                    <% } %>

                    <!-- Page Number Buttons -->
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === page ? 'active' : '' %>">
                            <a class="page-link" href="/admin-Orders?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                        </li>
                    <% } %>

                    <!-- Next Page Button -->
                    <% if (page < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin-Orders?page=<%= page + 1 %>&limit=<%= limit %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    <% } else { %>
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <% } %>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/adminserver.js"></script>
    <script>
        // Function to redirect to admin details page with product ID and order ID
        function redirectToDetails(productId, orderId, userId) {
            const url = `/admin-Order-Details?productId=${productId}&orderId=${orderId}&userId=${userId}`;
            window.location.href = url;
        }

        // Function to redirect to admin Change Order page with product ID and order ID
        function redirectToChangeOrder(productId, orderId, userId) {
            const url = `/admin-Order-Change?productId=${productId}&orderId=${orderId}&userId=${userId}`;
            window.location.href = url;
        }
    </script>

    <script>
        $(document).ready(function(){
            $('.status-select').change(function(){
                const status = $(this).val();
                const productId = $(this).data('product-id');
                const orderId = $(this).data('order-id');
                const userId = $(this).data('user-id');
                let url, data;
                
                if (status === 'Returned') {
                    url = '/admin-ChangeReturn';
                    data = { orderId: orderId, productId: productId, newReturn: status };
                } else {
                    url = '/admin-ChangeOrder';
                    data = { orderId: orderId, productId: productId, status: status };
                }

                $.ajax({
                    url:url,
                    method:'POST',
                    data :data,
                    success:function(response){
                        if(response.success){
                            Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: `Product status updated to: ${status}`
                });
                        }else{
                            Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: response.message
                });
                        }
                    },
                    error:function(){
                        Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to update product status.'
            });
                    }
                })

            })
        })
    </script>
</body>
</html>
