<!-- include footer -->
<%- include('../include/adminBase.ejs') %>
    <!-- /include footer -->


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

     <!-- Content -->
     <section id="content">
    <main>
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Users</h3>
          </div>
          <table id="userTable">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>SI NO</th>
                <th>ID</th>
                <th>User</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i<users.length;i++){%>
                <tr style="cursor: pointer;">
                  <td>&nbsp;</td>
                  <td><%= i + 1 %></td>
                  <td><%= users[i]._id %></td>
                  <td><%= users[i].name %></td>
                  <td><%= users[i].email %></td>
                  <td><%= users[i].phone %></td>
                  <td>
                    <% if(users[i].block == false) { %>
                      <button onclick="confirmBlock('<%= users[i]._id %>')" class="btn btn-danger w-60">Block</button>
                    <% } else { %>
                      <button onclick="confirmUnblock('<%= users[i]._id %>')" class="btn btn-success w-60">Unblock</button>
                    <% } %>
                  </td>
                </tr>
              <%}%>
            </tbody>
          </table>
      
                <!-- Pagination Controls -->
              <% if(totalPages > 0) {%>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          <!-- Previous Page Button -->
          <% if (page > 1) { %>
              <li class="page-item">
                  <a class="page-link" href="/admin-Users?page=<%= page - 1 %>&limit=<%= limit %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          <% } else { %>
              <li class="page-item disabled">
                  <span class="page-link" aria-hidden="true">&laquo;</span>
              </li>
          <% } %>

          <!-- Page Number Buttons -->
          <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= i === page ? 'active' : '' %>">
                  <a style="color:blue;"  class="page-link" href="/admin-Users?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
              </li>
          <% } %>

          <!-- Next Page Button -->
          <% if (page < totalPages) { %>
              <li class="page-item">
                  <a class="page-link" href="/admin-Users?page=<%= page + 1 %>&limit=<%= limit %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          <% } else { %>
              <li class="page-item disabled">
                  <span class="page-link" aria-hidden="true">&raquo;</span>
              </li>
          <% } %>
      </ul>
  </nav>
  <% } %>
    </main>
  </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- <script src="/javascript/search.js"></script> -->
    <script src="/javascript/actionConfirmation.js"></script>
    </body>
    </html>