<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kings</title>
  <link rel="icon" type="image/x-icon" href="images/fav.png">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'>
  <!-- MDB CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  <style>
    .otp-field {
      display: flex;
      justify-content: space-between;
    }

    .otp-input {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      text-align: center;
      font-size: 1.2em;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }
    .verify-heading {
      text-align: left;
    }

    .otp-message {
      text-align: left;
      margin-bottom: 10px;
    }

    .resend {
      text-align: left;
      margin-bottom: 20px;
    }

    .text-left{
      text-align:left;
    }
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    .errorP{
        color: red;
        font-size: small;

    }
  </style>
</head>

<body>

  <section class="container-fluid bg-body-tertiary d-block" style="height: 100vh;">
    <div class="row justify-content-center" style="display: flex; align-content: center;">
      <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px; margin-top: 100px;">
        <div class="card mb-1 mt-5 border-0">
          <div class="card-body p-5 text-center" style="
            border-radius: 39px;
            background: rgba(220, 220, 220, 0.40);
            box-shadow: 5px 15px 15px 15px rgba(0, 0, 0, 0.20);
            ">
            <h4>Verify OTP</h4>
            <p class="otp-message">
              To verify Email, we've sent a One Time password (OTP) to
              <span style="color: red;"><%=email%></span>
            </p>
            <form action="/verifyOTP?email=<%=email%>" method="post">
              <div class="otp-field mb-4<%= (emptyField||invalidCode)?"border-dainger":""  %>">
                <input type="number" name="one" class="otp-input "  maxlength="1" />
                <input type="number" name="two"  class="otp-input" maxlength="1" />
                <input type="number" name="three"  class="otp-input" maxlength="1" />
                <input type="number" name="four"  class="otp-input" maxlength="1" />
                <input type="number" name="five"  class="otp-input" maxlength="1" />
                <input type="number" name="six"  class="otp-input" maxlength="1" />
              </div>

              <p class="errorP <%= !emptyField?'d-none':''  %>" ><%=emptyField  %></p>
              <p class="errorP <%= !noRecords?'d-none':''  %>" ><%=noRecords  %></p>
              <p class="errorP <%= !codeExpired?'d-none':''  %>" ><%=codeExpired  %></p>
              <p class="errorP <%= !invalidCode?'d-none':''  %>" ><%=invalidCode  %></p>

              <div class="otp-timer mb-3" id="otp-timer" style="text-align:left;">Resend OTP in: <span id="countdown">60</span></div>
               
              <input type="text" name="userId" value="<%=id%>" style="display: none;">
              <input type="text" name="email" value="<%=email%>" style="display: none;">
            <a href="/resendOTP?email=<%=email%>">  <button class="btn resendBtn mb-3" id="resend" class="text-left" 
              style="border: 1px solid #00dcfa;background-color: #ffffff; color: #00dcfa;
              display: none ;
              " type="button" >
                resend OTP
              </button>
              </a>
               <p class="resend text-muted mb-0" style="text-align:left;">
              Didn't receive code? Request again 
            </p> 

              <input type="text" name="userId" value="<%=id%>" style="display: none;">
              <input type="text" name="email" value="<%=email%>" style="display: none;">
              <button class="btn verifyBtn  mb-3" style="border: 1px solid #000; background: #00DCFA; color:#000; width: 100%; max-width: 535px; height: 70px; flex-shrink: 0;" type="submit">
                Verify
              </button>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/javascript/otp.js"></script>
</body>

</html>
