<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/assets/stylesheet/userSignin.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

</head>

<body>
  <style>
    .errorP {
      color: red;
      font-size: small;
    }
  </style>
  <section class="vh-100 " style="background-color: rgb(255,255,255);">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5" style="border-radius: 39px; background: rgba(220, 220, 220, 0.40);
                  box-shadow: 5px 15px 15px 15px rgba(0, 0, 0, 0.20);">
                <h2 class="text-uppercase text-center mb-5 h" style="color: #000; font-weight: bold;">Create an
                  account</h2>

                <form method="post" action="/api/signinUser">

                  <div class="form mb-4">
                    <input type="email" name="email" id="form3Example3cg"
                      class="form-control form-control-lg <%= (invalidEmail || notExists) ? 'border-danger' : '' %>"
                      style="fill: #FFF; stroke-width: 1px; stroke: #000; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"
                      placeholder="Email" value="" />
                    <p class="errorP <%= !emailRequired ? 'd-none' : '' %>"><%= emailRequired %></p>
                    <p class="errorP <%= !invalidEmail ? 'd-none' : '' %>"><%= invalidEmail %></p>
                    <p class="errorP <%= !notExists ? 'd-none' : '' %>"><%= notExists %></p>
                  </div>
                  

                  <div class="form mb-4 ">
                    <input type="password" name="password" id="form3Example4cg"
                      class="form-control form-control-lg <%= passwordRequired ? 'border-danger' : '' %>"
                      style="fill: #FFF; stroke-width: 1px; stroke: #000; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"
                      placeholder="password" />
                    <p class="errorP <%= !passwordRequired ? 'd-none' : '' %>"><%= passwordRequired %></p>
                    <p class="errorP <%= !passwordNotValid ? 'd-none' : '' %>"><%= passwordNotValid %></p>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button class="btn btn-success btn-block btn-lg "
                      style="border: 1px solid #000; background: #00DCFA; color:#000; width: 535px;height: 70px;flex-shrink: 0;">Sign
                      In</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/signup"
                      class="fw-bold text-body"><u>Signup here</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

</html>
