<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kings - Change Password</title>
  <link rel="icon" type="image/x-icon" href="images/fav.png">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <!-- MDB CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  <style>
    .password-field {
      margin-bottom: 20px;
    }

    .password-input {
      width: 100%;
      height: 40px;
      margin: 5px 0;
      padding: 10px;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }

    .confirm-password-field {
      margin-bottom: 30px;
    }

    .change-password-btn {
      width: 100%;
      max-width: 535px;
      height: 70px;
      flex-shrink: 0;
    }

    .errorP {
      color: red;
      font-size: small;
    }
  </style>
</head>

<body>
  <section class="container-fluid bg-body-tertiary" style="height: 100vh;">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card mb-1 mt-5 border-0">
          <div class="card-body p-5 text-center" style="
            border-radius: 39px;
            background: rgba(220, 220, 220, 0.40);
            box-shadow: 5px 15px 15px 15px rgba(0, 0, 0, 0.20);
            ">
            <h4>Change Password</h4>
            <form action="/changePassword?email=<%=email%>" method="post">
              <!-- New Password input box -->
              <div class="mb-3 password-field">
                <input type="password" name="newPassword" class="password-input" placeholder="Enter new password" />
              </div>
              <p class="errorP <%= !errorPassword3 ? 'd-none' : '' %>"><%= errorPassword3 %></p>

              <!-- Confirm Password input box -->
              <div class="mb-3 confirm-password-field">
                <input type="password" name="confirmPassword" class="password-input" placeholder="Confirm new password" />
              </div>
              <p class="errorP <%= !errorPassword4 ? 'd-none' : '' %>"><%= errorPassword4 %></p>
              <p class="errorP <%= !newPasswordNotMatch ? 'd-none' : '' %>"><%= newPasswordNotMatch %></p>

              <!-- Change Password button -->
              <button class="btn verifyBtn change-password-btn"
                style="border: 1px solid #000; background: #00DCFA; color: #000;" type="submit">
                Change Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
